@model AgregarPeliculaViewModel
@{
}

<div class="col-4">
    <form method="post" action="CrearPelicula">
        @*FORM para formulario*@
        <fieldset>
            <legend>Agregar Peliculas</legend>
            <div>
                <label class="form-label" for="Nombre">Nombre de pelicula:</label>
                <input class="form-control" type="text" name="Nombre" value="" />
            </div>
            <div>
                <label class ="form-label" for="Anio"> Anio de estreno:</label>
                <input class="form-control" type="text" name="Anio" value="" />
            </div>
            <div>
                <label class="form-label" for="IdGenero">Id del genero:</label>
                @Html.DropDownList("IdGenero",Model.ListaGeneros, null,new {@class="form-control"})
                
            </div>
            <div>
                <label class="form-label" for="IdDirector">Id del director:</label>
                <input class="form-control" type="text" name="IdDirector" value="" />
            </div>
            <div>
                <label class="form-label" for="IdActor">Id del Actor:</label>
                <input class="form-control" type="text" name="IdActor" value="" />
            </div>

            <div class="mt-3">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </fieldset>
    </form>
</div>