@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ROCIO ES LA MEJOR CUNIADA :)))</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>En esta pagina tendras la mejor calidad en peliculas para disfrutar con toda la familia.</p>
</div>
